certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.10
Flask==2.0.3
Flask-Cors==3.0.10
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
moviepy==1.0.3
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
proglog==0.1.9
pyparsing==3.0.7
pytube==12.0.0
requests==2.27.1
six==1.16.0
toml==0.10.2
tqdm==4.63.0
urllib3==1.26.9
Werkzeug==2.0.3
youtube-search==2.1.0
