@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: francois_one;
    src: url(../fonts/FrancoisOne-Regular.ttf);
}

@font-face {
    font-family:youTube-sans-semibold;
    src: url(../fonts/YouTubeSansSemibold.otf);
}


body{

    background-color: #2e3e4d;
}


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    text-align: center;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
   /* background-color: rgb(24, 139, 233); */
   background-color: rgb(22, 161, 115);
}



/* eu */

.areadownload{

    
    margin-top: 5rem;
   /* text-align: center;*/
    /*background-color: #a5c2dd75;*/
    background-color: rgba(76, 85, 94, 0.555);
    border-radius: 10px;
    width: 980px;
}


.searchvideos{

    text-align: center;
    padding-top: 4rem;
}

.keyword {

    width: 500px;
    height: 40px;
    /*border-radius: 15px;*/
    text-align: center; 
    outline: none;
    border-color: rgb(221, 137, 189);
    font-family: youTube-sans-semibold;

}

.search {

    width: 120px;
    height: 40px;
    outline: none;
    cursor: pointer;
    /*background-color: rgb(216, 182, 160); */
    background-color: rgb(91, 214, 173);
  /*  border-radius: 15px;*/
}

.search:hover{

    background-color: rgb(82, 202, 162);
}

.video{
  
    margin-top: 2rem;
    display: table-cell;
    padding: 10px;
    position: relative;
    /*teste*/
    width: 200px;
    height: 120px;
}

.thumb{

    width: 160px;
    height: 120px;
    cursor: pointer;
}

.searchresults{

    margin-left: 0rem;
    margin-top: 5rem;
    text-align: center;
    align-items: center;
    }


.videotitle {

    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 10px;
    font-family: youTube-sans-semibold;
    width: 120px;

}

.duration{

    margin-top: -32px;
    left:-8px;
    float: right;
    position:relative;
    color: #FFF;
    background-color: black;
}

.duration::selection{

    background-color: rgba(110, 167, 231, 0.795);
}

.loadingdiv{

    text-align: center;
    margin-top: 10px;
    padding:50px;

}

.loading-img{

    width: 80px;
    height: 80px;
}

.loading-text{

    color: #FFF;
}

.download{

    margin-top: 60px;
    padding: 50px;
    margin-left: 80px;
    height: 570px;

}

.downloadthumb{

    width: 250px;
    height: 250px;
    margin-top: 120px;

}

.titledownload{

    color: #FFF;
    text-align:center;
    padding-bottom:10px;
}

.details{

    position: absolute;
    display: inline-block;
   /* height:250px;*/
    margin-top: -35px;
}

.downloadthumbdiv{

    display: inline-block;
    padding-right: 80px;
   /* width: 250px;*/

}

.opvideos{

    /*margin-top: 30px;*/
    display: inline-block;
    list-style: none;
}

.opvideos li {

    padding: 20px;
}

.opvideos li button {

    background-color: rgb(84, 142, 156);
    width: 120px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
}

.opvideos li button svg {

    color: rgb(255, 255, 255);
    background-color: rgba(10, 9, 92, 0.418);

}



.opaudio{


    display: inline-block;
    list-style: none;
    margin-top: 30px;

}

.opaudio li {

    padding: 20px;
}

.opaudio li button {

    background-color: rgb(84, 142, 156);
    width: 120px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    font-family:Arial, Helvetica, sans-serif;

}

.opaudio li button svg {

    color: rgb(255, 255, 255);
    background-color: rgba(10, 9, 92, 0.418);

}

.selectvideos, .selectaudio{

    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.titlevideodown{

    font-size: 15px;
    text-align: center;
    margin-top:10px ;
    color: azure;
    width: 250px;
}

.successdownload{

    text-align: center;
    margin-top: 50px;
    padding-bottom: 25px;

    
}

.successdownload p {

    color: #FFF;
}

.down {

    margin-top: 60px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
}